<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiguliuxing.dts.db.dao.DtsCategoryMapper">
    <resultMap id="CategoryResultMap" type="com.qiguliuxing.dts.db.domain.DtsCategory">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="goods_num" jdbcType="VARCHAR" property="goodsNum" />
    </resultMap>

    <select id="selectCategoryList" parameterType="com.qiguliuxing.dts.db.domain.DtsCategory" resultMap="CategoryResultMap">
        select t1.id,t1.name,count(t2.id) goods_num from dts_category t1 left join dts_goods t2 on t1.id = t2.category_id
        where 1=1
        <if test="id != '' and id != null">
            and t1.id = #{id}
        </if>
        <if test="name != '' and name != null">
            and instr(t1.name,#{name}) > 0
        </if>
        group by t1.id,t1.name
    </select>

    <select id="selectCategoryExsitsGoods" resultMap="CategoryResultMap">
        select distinct ca.id, ca.name, null as add_time ,null as update_time, null as goods_num from dts_category ca inner join dts_goods gd where ca.id = gd.category_id
    </select>

    <select id="findById" parameterType="string" resultType="com.qiguliuxing.dts.db.domain.DtsCategory">
        select id,name,add_time,update_time from dts_category where id = #{id}
    </select>

    <select id="findCategoryByGoodsId" parameterType="string" resultType="com.qiguliuxing.dts.db.domain.DtsCategory">
        select t1.id,t1.name from dts_category t1 inner join dts_goods t2 on t1.id = t2.category_id where 1=1
        <if test="goodsId != '' and goodsId != null">
            and t2.id = #{goodsId}
        </if>
    </select>

    <insert id="insertCategory" parameterType="com.qiguliuxing.dts.db.domain.DtsCategory">
        INSERT INTO dts_category (id, name, add_time, update_time)
        VALUES (#{id}, #{name}, #{addTime}, #{updateTime})
    </insert>

    <delete id="deleteCategoryById" parameterType="string">
        delete FROM dts_category where id = #{id}
    </delete>

    <update id="updateCategoryById" parameterType="com.qiguliuxing.dts.db.domain.DtsCategory">
        UPDATE dts_category
        SET name = #{name, jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        WHERE id = #{id, jdbcType=INTEGER}
    </update>
</mapper>