<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiguliuxing.dts.db.dao.DtsGoodsMapper">
  <resultMap id="DtsGoodsResultMap" type="com.qiguliuxing.dts.db.domain.DtsGoods">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_fresh" jdbcType="INTEGER" property="isFresh" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="specification_id" jdbcType="VARCHAR" property="specificationId" />
    <result column="is_postage" jdbcType="INTEGER" property="isPostage" />
    <result column="min_postage" jdbcType="INTEGER" property="minPostage" />
    <result column="first_weight" jdbcType="INTEGER" property="firstWeight" />
    <result column="postage_fir" jdbcType="DECIMAL" property="postageFir" />
    <result column="postage_sec" jdbcType="DECIMAL" property="postageSec" />
    <result column="is_on_sale" jdbcType="INTEGER" property="isOnSale" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="gallery" jdbcType="VARCHAR" property="gallery" typeHandler="com.qiguliuxing.dts.db.mybatis.JsonStringArrayTypeHandler" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="browse" jdbcType="INTEGER" property="browse" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
  </resultMap>
  <select id="queryGoodsList" parameterType="com.qiguliuxing.dts.db.domain.DtsGoods" resultMap="DtsGoodsResultMap">
    select
      t2.name category_name,
      t1.id,
      t1.goods_sn,
      t1.name,
      t1.is_fresh,
      t1.brief,
      t1.detail,
      t1.category_id,
      t1.specification_id,
      t1.is_postage,
      t1.min_postage,
      t1.first_weight,
      t1.postage_fir,
      t1.postage_sec,
      t1.is_on_sale,
      t1.brand_id,
      t1.gallery,
      t1.pic_url,
      t1.unit,
      t1.retail_price,
      t1.add_time,
      t1.update_time,
      t1.browse,
      t1.sales
    from dts_goods t1
    left join dts_category t2 on t1.category_id = t2.id
    where 1=1
    <if test="goodsSn != '' and goodsSn != null">
      and t1.goods_sn = #{goodsSn}
    </if>
    <if test="name != '' and name != null">
      and instr(t1.name,#{name}) > 0
    </if>
  </select>

  <select id="findById" parameterType="string" resultType="com.qiguliuxing.dts.db.domain.DtsGoods">
    select
      t1.id,
      t1.goods_sn,
      t1.name,
      t1.is_fresh,
      t1.brief,
      t1.detail,
      t1.category_id,
      t1.specification_id,
      t1.is_postage,
      t1.min_postage,
      t1.first_weight,
      t1.postage_fir,
      t1.postage_sec,
      t1.is_on_sale,
      t1.brand_id,
      t1.gallery,
      t1.pic_url,
      t1.unit,
      t1.retail_price,
      t1.add_time,
      t1.update_time,
      t1.browse,
      t1.sales
    from dts_goods t1
    where 1=1
    <if test="id != '' and id != null">
      and t1.id = #{id}
    </if>
  </select>

  <delete id="deleteGoodsById">
    delete from dts_goods where id = #{id}
  </delete>

  <insert id="insertDtsGoods" parameterType="com.qiguliuxing.dts.db.domain.DtsGoods">
    INSERT INTO dts_goods (id, goods_sn, name, is_fresh, brief,detail,
                            category_id,specification_id,is_postage,min_postage,
                            first_weight,postage_fir,postage_sec,is_on_sale,
                            brand_id,gallery,pic_url,unit,retail_price
                            ,add_time,update_time)
    VALUES (#{id}, #{goodsSn}, #{name}, #{isFresh}
            ,#{brief}, #{detail}, #{categoryId}, #{specificationId}
            ,#{isPostage}, #{minPostage}, #{firstWeight}, #{postageFir}
            ,#{postageSec}, #{isOnSale}, #{brandId}, #{gallery,typeHandler=com.qiguliuxing.dts.db.mybatis.JsonStringArrayTypeHandler}, #{picUrl}, #{unit}
            , #{retailPrice}, #{addTime}, #{updateTime}
            )
  </insert>

  <update id="updateByGid" parameterType="com.qiguliuxing.dts.db.domain.DtsGoods">
    UPDATE dts_goods SET
      goods_sn = #{goodsSn, jdbcType=VARCHAR},
      name = #{name, jdbcType=VARCHAR},
      is_fresh = #{isFresh, jdbcType=INTEGER},
      brief = #{brief, jdbcType=VARCHAR},
      detail = #{detail, jdbcType=VARCHAR},
      category_id = #{categoryId, jdbcType=VARCHAR},
      specification_id = #{specificationId, jdbcType=VARCHAR},
      is_postage = #{isPostage, jdbcType=INTEGER},
      min_postage = #{minPostage, jdbcType=INTEGER},
      first_weight = #{firstWeight, jdbcType=INTEGER},
      postage_fir = #{postageFir, jdbcType=DECIMAL},
      postage_sec = #{postageSec, jdbcType=DECIMAL},
      is_on_sale = #{isOnSale, jdbcType=INTEGER},
      brand_id = #{brandId, jdbcType=INTEGER},
      gallery = #{gallery, jdbcType=VARCHAR, typeHandler=com.qiguliuxing.dts.db.mybatis.JsonStringArrayTypeHandler},
      pic_url = #{picUrl, jdbcType=VARCHAR},
      unit = #{unit, jdbcType=VARCHAR},
      retail_price = #{retailPrice, jdbcType=DECIMAL},
      update_time = #{updateTime, jdbcType=TIMESTAMP},
      browse = #{browse, jdbcType=INTEGER},
      sales = #{sales, jdbcType=INTEGER}
    WHERE id = #{id, jdbcType=VARCHAR};
  </update>
</mapper>