<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiguliuxing.dts.db.dao.DtsOrderMapper">
  <resultMap id="DtsOrderResultMap" type="com.qiguliuxing.dts.db.domain.DtsOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="order_status" jdbcType="SMALLINT" property="orderStatus" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="freight_price" jdbcType="DECIMAL" property="freightPrice" />
    <result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="pay_id" jdbcType="VARCHAR" property="payId" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="ship_sn" jdbcType="VARCHAR" property="shipSn" />
    <result column="ship_channel" jdbcType="VARCHAR" property="shipChannel" />
    <result column="ship_time" jdbcType="TIMESTAMP" property="shipTime" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="comments" jdbcType="SMALLINT" property="comments" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="settlement_money" jdbcType="DECIMAL" property="settlementMoney" />
    <result column="settlement_status" jdbcType="BIT" property="settlementStatus" />
  </resultMap>

  <select id="queryOrderList" parameterType="map" resultMap="DtsOrderResultMap">
    SELECT
      id,
      user_id,
      order_sn,
      order_status,
      consignee,
      mobile,
      address,
      message,
      goods_price,
      freight_price,
      order_price,
      actual_price,
      pay_id,
      pay_time,
      ship_sn,
      ship_channel,
      ship_time,
      confirm_time,
      comments,
      end_time,
      add_time,
      update_time,
      deleted,
      settlement_money,
      settlement_status,
      freight_type,
      fetch_code,
      create_user_id
    FROM dts_order
    WHERE 1=1
    <if test="dtsOrder.id != null and dtsOrder.id != ''">
      AND id = #{dtsOrder.id}
    </if>
    <if test="dtsOrder.userId != null and dtsOrder.userId != ''">
      AND user_id = #{dtsOrder.userId}
    </if>
    <if test="dtsOrder.orderSn != null and dtsOrder.orderSn != ''">
      AND order_sn = #{dtsOrder.orderSn}
    </if>
    <if test="dtsOrder.orderStatus != null and dtsOrder.orderStatus != '' and orderStatusArray = null">
      and order_status = #{dtsOrder.orderStatus}
    </if>
    <if test="dtsOrder.deleted != null and dtsOrder.deleted != ''">
      and deleted = #{dtsOrder.deleted}
    </if>
    <if test="dtsOrder.payStartDate != null and dtsOrder.payEndDate != null">
      and DATE_FORMAT(pay_time, '%Y%m%d') between #{dtsOrder.payStartDate} and #{dtsOrder.payEndDate}
    </if>
    <if test="orderStatusArray != null and orderStatusArray.size > 0">
      AND order_status IN
      <foreach item="status" collection="orderStatusArray" open="(" separator="," close=")">
        #{status}
      </foreach>
    </if>
  </select>
</mapper>